/* Wrapper for the main content */
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.box {
    width: 48%;
    background-color: #f9f9f9;
    padding: 20px;
}

.hero-image {
    width: 100%;
    height: auto;
}
/* Navigation Bar */
.logo {
    flex-grow: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
}

.nav-menu li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.nav-menu a.active {
    font-weight: bold;
    color: #4CAF50;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Basic styling for the body */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Styling for the main heading */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

/* Styling for the highlighted text inside the heading */
h1 span {
  color: #00a64f;
}

/* Styling for the paragraph */
p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 25px;
}

/* Adjust the "Login" button */
.login-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00a358;
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 18px;
}

/* Hero Section styling */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Styling for text in the hero section */
.hero-text-box {
    width: 45%;
    margin-left: 10%;
}

.hero-text-box h1 {
    font-size: 56px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-text-box h1 span {
    color: #00a64f;
}

.hero-text-box p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 25px;
}

/* Button styling */
.btn {
    background-color: #00a64f;
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
}

/* Styling for the image in the hero section */
.hero-image-box {
    width: 50%;
}

.hero-image-box img {
    width: 100%;
    height: auto;
}

/* Basic reset for body and elements */
body, h1, p, ul, li, a, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

/* Container styling for proper alignment */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

/*Styling for registration */
.registration-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: bold;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.btn {
    background-color: #00a64F;
    color: #fff;
    font-size: 20px;
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

button.btn:hover {
    background-color: #00873c;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
}

button.btn:active {
    background-color: #00632a;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
}

.social-login {
    text-align: center;
    margin-top: 20px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-top: 1px dashed #ccc;
    margin: 0 10px;
}

.divider span {
color: #666;
}

.btn.social-btn {
    background-color: transparent;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px 30px; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn.social-btn img {
    margin-right: 10px;
}

.highlight {
    color: #00a64F;
}

/*Контейне для бокової панелі та блоку продуктів */
.container {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

/* Бокова панель */
.sidebar {
    float: left;
    display: inline-block;
    width: 350px;
    vertical-align: top;
    height: 1170px;
    background-color: #f9f9f9;
}

/* Банер */
.sale-banner {
    display: block;
    width: 415px;
    margin-left: -32px;
    margin-top: 270px;
}

.sale-banner img {
    width: 100%;
    height: auto;
}

/* Заголовок "Categories" */
.sidebar h2 {
    font-weight: bold;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 20px;
    padding-left: 20px;
}

/* Список категорій */
.sidebar ul {
    list-style: none;
    padding-left: 30px;
    margin-bottom: 20px;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    color: #4CAF50 !important;
    cursor: pointer;
}

/* Основний контент */
.main-content {
    width: calc(100% - 350px);
    background-color: #fff;
    float: right;
    margin-top: 0;
    vertical-align: top;
}

.shop-wrapper {
    display: flex;
}

/* Вирівнювання секції з фільтрами та сортуванням */
.filter-sort-box {
    margin-bottom: 20px;
}


/* Стилі для продуктів */
.product-grid {
    margin-top: 0;
}

.product-card {
    display: inline-block;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    width: 30%;
    margin: 10px;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card p {
    margin: 10px 0;
}

.price {
    font-size: 18px;
    color: #4CAF50;
    font-size: bold;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

/* Панель фільтру і сортування */
.filter-sort-box {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    background-color: #fff
}

.filter-sort-box a{
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.filter-sort-box a:hover {
    color: #4CAF50;
}


/* Нумерація сторінок */
.pagination-box {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.pagination a {
   color: #4CAF50;
   padding: 10px 15px;
   text-decoration: none;
   border: 1px solid #ccc;
}

.pagination a:hover{
  background-color: #ddd;
}

/* Очищення float */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}